<h1>Listing photos</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @photos=Photo.all %>
  </tbody>
</table>
