<h1>Listing albums</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @albums %>
  </tbody>
</table>

<br />

<%= link_to 'New Album', new_album_path %>
