<div class="footer">
	<div class="row">
	  <div class="span10">
		  <small>
				<%= link_to "Premium Grade Cabinetry", "#" %>
				
			</small>
		</div>
	 
	  <div class="span1">
	  	<small>
	  		<%= link_to ".", "#" %>
	  	</small>
	  </div>
	</div>
</div>
